.bigVersion {
  :global {
    .ant-card-head {
      position: relative;

      .ant-card-head-title {
        position: absolute;
        bottom: 5px;
      }

      .daterange {
        position: absolute;
        left: 24px;
        color: grey;
      }

      .detailLink {
        display: none;
      }
    }
  }
}

.funnelBigVersion {
  :global {
    .ant-card-head {
      position: relative;

      .ant-card-head-title {
        position: absolute;
        bottom: 5px;
      }

      .daterange {
        position: absolute;
        left: 24px;
        color: grey;
      }

      .detailLink {
        display: none;
      }
    }
  }
}

.smallVersion {
  :global {
    .ant-card-head {
      position: relative;

      .daterange {
        position: absolute;
        bottom: 3px;
        left: 140px;
        color: grey;
      }
      .detailLink {
        display: block;
      }
    }
  }
}

.funnelSmallVersion {
  :global {
    .ant-card-head {
      position: relative;

      .daterange {
        position: absolute;
        bottom: 3px;
        left: 230px;
        color: grey;
      }
      .detailLink {
        display: block;
      }
    }
  }
}

.bigTrendVersion {
  :global {
    .ant-card-head {
      position: relative;

      .ant-card-head-title {
        position: absolute;
        bottom: 5px;
      }

      .daterange {
        position: absolute;
        left: 24px;
        color: grey;
      }

      .detailLink {
        display: none;
      }
    }

    .ant-card-body {
      position: relative;
      .ant-tabs {
        background-color: transparent;

        &.ant-tabs-top {
          position: absolute;
          top: -50px;
          left: 300px;
          z-index: 10;
          width: 100%;
        }

        .ant-tabs-nav::before {
          border-bottom: 0;
        }

        .ant-tabs-ink-bar {
          &.ant-tabs-ink-bar-animated {
            display: none;
          }
        }
        .ant-tabs-tab-btn:focus {
          color: #1890ff;
        }
      }
    }
  }
}

.smallTrendVersion {
  :global {
    .ant-card-head {
      position: relative;

      .daterange {
        position: absolute;
        bottom: 3px;
        left: 120px;
        color: grey;
      }
      .detailLink {
        display: block;
      }
    }

    .ant-card-body {
      position: relative;
      height: 348px;
      .ant-tabs {
        background-color: transparent;

        &.ant-tabs-top {
          position: absolute;
          left: 45%;
          z-index: 10;
          width: 100%;
        }

        .ant-tabs-nav::before {
          border-bottom: 0;
        }

        .ant-tabs-ink-bar {
          &.ant-tabs-ink-bar-animated {
            display: none;
          }
        }

        .ant-tabs-tab-btn:focus {
          color: #1890ff;
        }
      }
    }
  }
}

.filter {
  :global {
    .ant-tabs-nav-wrap {
      position: relative;
      & > .ant-tabs-nav-list {
        position: absolute;
        left: 20px;
      }
    }

    .ant-tabs {
      height: 46px;
      background-color: white;

      .ant-tabs-nav::before {
        border-bottom: 0;
      }
      .ant-tabs-extra-content {
        position: relative;
        right: 10px;
      }

      .ant-tabs-tab-btn:focus {
        color: #1890ff;
      }
    }

    .ant-tabs-nav::before {
      border-bottom: 0;
    }

    .ant-tabs-ink-bar {
      &.ant-tabs-ink-bar-animated {
        display: none;
      }
    }
  }
}

.trendDetail {
  :global {
    .ant-card-head {
      position: relative;

      .ant-card-head-title {
        position: absolute;
        bottom: 10px;
      }

      .daterange {
        position: absolute;
        bottom: -10px;
        left: 24px;
        color: grey;
      }
    }
  }
}

.noDataTrendDetail {
  :global {
    .ant-card-head {
      position: relative;
      height: 60px;

      .ant-card-head-title {
        position: absolute;
        bottom: 10px;
      }

      .daterange {
        position: absolute;
        bottom: -10px;
        left: 24px;
        color: grey;
      }
    }
  }
}

.detailFilter {
  :global {
    .ant-tabs-nav-wrap {
      position: relative;
      & > .ant-tabs-nav-list {
        position: absolute;
        left: 20px;
      }
    }

    .ant-tabs {
      height: 46px;
      background-color: white;

      .ant-tabs-nav::before {
        border-bottom: 0;
      }
      .ant-tabs-extra-content {
        position: relative;
        right: 10px;

        .ant-picker-range {
          position: relative;
          // left: -300px;
        }
      }

      .ant-tabs-tab-btn:focus {
        color: #1890ff;
      }
      .ant-tabs-content-holder {
        display: none;
      }
    }

    .ant-tabs-nav::before {
      border-bottom: 0;
    }

    .ant-tabs-ink-bar {
      &.ant-tabs-ink-bar-animated {
        display: none;
      }
    }
  }
}

.transformTrend {
  :global {
    .trendCard {
      .ant-card-body {
        padding: 0;
      }
    }
  }
}

.orgSummary {
  :global {
    background-color: white;
  }
}

.caseDetail {
  :global {
    .ant-card-head {
      position: relative;
      height: 60px;

      .ant-card-head-title {
        position: absolute;
        bottom: 10px;
      }

      .daterange {
        position: absolute;
        bottom: -10px;
        left: 24px;
        color: grey;
      }
    }
  }
}

.homePageTrend {
  :global {
    .homePageTrendTitle {
      font-weight: 500;
      font-size: 16px;
    }

    .homePageTabs {
      .ant-tabs {
        background-color: white;

        .ant-tabs-tab-btn:focus {
          color: #1890ff;
        }
      }

      .ant-tabs-nav-wrap {
        z-index: 1000;
      }
      .ant-tabs-nav-more {
        z-index: 1000;
      }

      .ant-tabs-nav::before {
        border-bottom: 0;
      }

      .ant-tabs-ink-bar {
        &.ant-tabs-ink-bar-animated {
          display: none;
        }
      }
    }

    .daterange {
      position: absolute;
      margin-top: -10px;
      color: grey;
    }
  }
}

.homePageFilter {
  :global {
    .ant-tabs-nav-wrap {
      position: relative;
      margin-right: 50px;

      & > .ant-tabs-nav-list {
        position: absolute;
        left: 20px;
      }
    }

    .ant-tabs {
      height: 46px;
      // background-color: white;

      .ant-tabs-nav {
        margin-top: -10px;
      }
      .ant-tabs-nav::before {
        border-bottom: 0;
      }
      .ant-tabs-extra-content {
        position: relative;
        right: 10px;
        line-height: 52px;
      }

      .ant-tabs-tab-btn:focus {
        color: #1890ff;
      }
    }

    .ant-tabs-nav::before {
      border-bottom: 0;
    }

    .ant-tabs-ink-bar {
      &.ant-tabs-ink-bar-animated {
        display: none;
      }
    }
  }
}

.reachFilter {
  :global {
    // .ant-tabs-nav-wrap {
    //   position: relative;
    //   margin-right: 50px;

    //   & > .ant-tabs-nav-list {
    //     position: absolute;
    //     left: 20px;
    //   }
    // }

    .ant-tabs {
      height: 46px;
      // background-color: white;

      .ant-tabs-nav {
        margin-top: -10px;
      }
      .ant-tabs-nav::before {
        border-bottom: 0;
      }
      .ant-tabs-extra-content {
        position: relative;
        right: 10px;
        line-height: 52px;
      }

      .ant-tabs-tab-btn:focus {
        color: #1890ff;
      }
    }

    .ant-tabs-nav::before {
      border-bottom: 0;
    }

    .ant-tabs-ink-bar {
      &.ant-tabs-ink-bar-animated {
        display: none;
      }
    }
  }
}

.visitorsList {
  :global {
    .ant-card-head {
      height: 60px;
    }

    .daterange {
      position: absolute;
      left: 24px;
      color: grey;
    }

    .itemHover {
      position: absolute;
      z-index: 100;
      display: none;
      width: 150px;
      padding: 8px;
      color: white;
      font-size: 12px;
      text-align: left;
      list-style: none;
      // box-shadow: 0 3px 7px 0 rgba(174, 174, 174, 0.5);
      background-color: black;
      border-radius: 5px;
    }

    .item {
      position: relative;
      img {
        z-index: 1;
      }
    }

    .item:hover .itemHover {
      display: block;
    }

    .visitorInfo {
      background-color: #f2f2f2;
      border-top: 1px solid #dbdbdb;
    }

    .pagination {
      margin-top: 10px;
      text-align: right;

      .ant-pagination-item {
        display: none;
      }

      @media only screen and (max-width: 576px) {
        .ant-pagination-options {
          display: inline;
        }
      }

      .ant-pagination-item-container {
        display: none;
      }
      .ant-pagination-item-link {
        display: none;
      }
      .ant-pagination-jump-next {
        display: none;
      }
      .ant-pagination-jump-next-custom-icon {
        display: none;
      }
      .ant-pagination-jump-prev {
        display: none;
      }
      .ant-pagination-jump-prev-custom-icon {
        display: none;
      }
    }
  }
}

.noDataVisitors {
  :global {
    .ant-card-head {
      position: relative;
      height: 60px;

      .ant-card-head-title {
        position: absolute;
        bottom: 10px;
      }

      .daterange {
        position: absolute;
        bottom: -10px;
        left: 24px;
        color: grey;
      }
    }

    .paginationEnd {
      margin-top: 10px;
      text-align: right;

      .ant-pagination-next {
        display: none;
      }

      .ant-pagination-item {
        display: none;
      }

      .ant-pagination-item-container {
        display: none;
      }

      .ant-pagination-item-link {
        display: none;
      }

      .ant-pagination-jump-next {
        display: none;
      }

      .ant-pagination-jump-next-custom-icon {
        display: none;
      }

      .ant-pagination-jump-prev {
        display: none;
      }

      .ant-pagination-jump-prev-custom-icon {
        display: none;
      }

      .ant-pagination-options {
        display: none;
      }
    }
  }
}

.smallTrendMobileVersion {
  :global {
    .ant-card-head {
      position: relative;

      .ant-card-head-title {
        position: absolute;
        bottom: 5px;
      }

      .daterange {
        position: absolute;
        left: 24px;
        color: grey;
      }
    }

    .ant-card-body {
      position: relative;
      height: 348px;
      .ant-tabs {
        background-color: transparent;

        &.ant-tabs-top {
          position: absolute;
          left: 45%;
          z-index: 10;
          width: 100%;
        }

        .ant-tabs-nav::before {
          border-bottom: 0;
        }

        .ant-tabs-ink-bar {
          &.ant-tabs-ink-bar-animated {
            display: none;
          }
        }

        .ant-tabs-tab-btn:focus {
          color: #1890ff;
        }
      }
    }
  }
}

.cbtFilter {
  :global {
    .ant-tabs {
      height: 46px;
      // background-color: white;

      .ant-tabs-nav {
        margin-top: -10px;
      }
      .ant-tabs-nav::before {
        border-bottom: 0;
      }
      .ant-tabs-extra-content {
        position: relative;
        right: 10px;
        line-height: 52px;
      }

      .ant-tabs-tab-btn:focus {
        color: #1890ff;
      }
    }

    .ant-tabs-nav::before {
      border-bottom: 0;
    }

    .ant-tabs-ink-bar {
      &.ant-tabs-ink-bar-animated {
        display: none;
      }
    }
  }
}
